@import url('https://fonts.googleapis.com/css2?family=Acme&family=Baloo+Paaji+2:wght@400;500&family=Ubuntu&display=swap');

table .details td {
    align-items: center;
}

table button {
    background: green;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    border-radius: 6px;
    height: 30px;
    width: 180px;
    margin-bottom: 10px;
}

table button:hover {
    background: yellow;
    color: black;
}