.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0 auto;
    width: 1000px;
    border: 1px solid gray;
}

.wrapper h1{
    font-family: 'Acme', sans-serif;
    color: rgb(4, 4, 46);
}

@media(max-width: 700px){
    .wrapper {
        width: 80%;
    }

    .wrapper h1 {
        font-size: 26px;
    }
}