@import url('https://fonts.googleapis.com/css2?family=Acme&family=Baloo+Paaji+2&family=Ubuntu&display=swap');

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px auto 0 auto;
    width: 1000px;
    border: 1px solid gray;
}

.wrapper h1{
    font-family: 'Acme', sans-serif;
    color: rgb(4, 4, 46);
}

    #love {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    
    #love > span {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: rgb(37, 37, 37);
    }
    
    #love > img {
        width: 20px;
        padding: 10px;
    }
    
    #love > span > a {
        text-decoration: none;
        color: rgb(4, 80, 4);
    }

@media(max-width: 700px){
    .wrapper {
        width: auto;
    }

    .wrapper h1 {
        font-size: 26px;
    }
}