.layout.top-bar {
    display: flex;
    justify-content: center;
    margin: 0;
    background: rgb(0, 0, 0);
    color: white;
  }

  @media (max-width: 700px){
    .layout.top-bar{
        width: 100%;
    }
  }
  
  .layout.top-bar .bar-wrapper {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    padding: 16px 0;
  }
  
  .layout.top-bar .section {
    flex: 50%;
  }
  
  .layout.top-bar a {
    color: white;
    text-decoration: none;
  }
  
  .layout.top-bar .section:last-child {
    text-align: right;
  }

  @media(max-width: 770px){
    .layout.top-bar .section:last-child {
        margin-right: 10px;
      }

      .layout.top-bar .section {
          margin-left: 10px;
      }
  }